page-register-leads {
background-color: white;

.icon{
    font-size: 20px;
}

ion-item{
    border-bottom: 1px solid limegreen !important;
}

.comments{
    border: 1px solid limegreen;
    background-color: rgba(79,193,67, 0.05);
}

.margin{
    margin-bottom: 20px;
}

}
