page-lajub {
    background-color: white;
    
    
    .row1{
        background-color: #b2b2b2;
    }
    
    .row2{
        background-color: #f79f1a;
    }
    
    .row3{
        background-color: #4fc143;
    }
    
    .row4{
        background-color: #4ba2be;
    }
    .result{
        width: 330px;
        height: 280px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .grid{
        width:300px;
        
        margin-right: auto;
        margin-left: auto;
        display: block;
    }

    ion-input{
        border: 1px solid limegreen;
        background-color: rgba(79,193,67, 0.05);
    }
    .row5{
        
                background-color: #b2b2b2;
            }
    .card{
        border: 1px solid limegreen;
    }

    }
    
