page-details3 {
    background-color: white;

    .div{
        background-color: rgba(178,178,178,0.4);
        margin: 0 auto;
        display: block;
        width: 400px;
        height: 40px;
       
    
    }
}
