page-leads-details {

    background-color: white;

    ion-icon{
        font-size: 10px;
        color:#4fc143;
        display: block;
    }

    // ion-item{
    //     color: limegreen;
    // }
}
