page-lcd {
background-color: white;


ion-input{
    border: 1px solid limegreen;
    background-color: rgba(79,193,67, 0.05)
}

.card{
    border: 1px solid limegreen;
}

.row1{
    background-color: #b2b2b2;
}

.row2{
    background-color:
    #feb204;
}
}
